@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Raleway", sans-serif;
}

.rancho{
    font-family: "Rancho", cursive;
}

a.active{ 
    border-radius: 5px;
    background: transparent !important;
    border-bottom: 2px solid #c99d62;
}
:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(summary, .active, .btn):focus{
    color: white;
}