@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Quicksand", serif;
    color: #222222;
}
.title-font{
    font-family: "Fanwood Text", serif;
}
.qoutes-font{
    font-family: "Lora", serif;
}
a.active{
    color: white !important;
    background-color: #1e293b !important;
}

.dark a.active{
    color: black !important;
    background-color: #f2f2f2 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.category + .categoryName{
    transform: translateX(-30px);
    transition: .3s;
}
.category:hover + .categoryName{
    transform: translateX(0px);
}
.category + .categoryName span{
    opacity: 0;
    transition: .3s;
}
.category:hover + .categoryName span{
    opacity: 1;
}





.categoryName:hover{
    transform: translateX(0px);
}
.categoryName:hover span{
    opacity: 1;
}







.book:hover ~ .bookBtn button{
    background-color: #f66e5e;
    color: white;
    border-radius: 10px;
}

.dark .book:hover ~ .bookBtn button{
    border: none;
}