@media screen and (max-width:992px) {
    .navbar ul{
        display: none;
    }
    .bars-icon{
        display: block;
    }
    .header-bottom{
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .sponsorship{
        grid-template-columns: repeat(3,1fr);
    }
    .section-content{
        grid-template-columns: repeat(2, 1fr);
    }
    #more-info{
        margin-right: 0;
        text-align: center;
    }
    .product-section{
        gap: 50px 0;
        text-align: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .product-details{
        grid-auto-flow: dense;
        grid-row: 1;
    }
}
@media screen and (max-width:768px) {
    .section-content{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:576px){
    .header-banner img{
        padding: 0;
        background-image: none;
    }
    .footer-area ul{
        align-items: center;
        flex-direction: column;
    }
    
}
