@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}

a.active{
    color: white !important;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c97);
}

.custom-btn{
    color: white;
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c97);
}

.custom-gradient{
    background-image: linear-gradient(to right bottom, #6bc17e, #0c8c97);;
}

.custom-card, .my-lesson{
    transition: .5s;
}
.custom-card:hover, .my-lesson:hover{
    transform: translateY(-20px);
}

.custom-card:hover p{
    opacity: 0;
    transition: .5s;
}
.custom-card span{
    visibility: hidden;
    cursor: pointer;
    
}
.custom-card:hover span{
    visibility: visible;
    transform: translateY(-50px) scale(1.5);
    transition: .5s;
}
.my-arrow{
    transition: .7s;
}
.my-arrow:hover{
    transform: scale(1.2);
}

.my-element {
    --animate-duration: 25s;
}
.my-element2 {
    --animate-duration: 30s;
}
